.parent {
    position: relative;
    width: 98%;
    height: 100%;
}

.participantName{
    position: absolute;
    bottom: 6px;
    left: 10px;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    padding: 0px 5px;
}