.parent {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.playerContainer {
	display: flex;
	flex-direction: column;
	margin-top: 5em;
	overflow: hidden;
	width: 70%;
}

.videoPlayer {
	z-index: -1;
}

.videoInfo {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -3.5em;
	color: white;
}

.controls {
	display: flex;
	justify-content: space-between;
	z-index: 1;
	color: white;
	width: 200px;
}

.controlButton {
	border: none;
	background: none;
}

.controlButton:hover {
	cursor: pointer;
}

.timeline {
	width: 70%;
}

.duration {
	display: flex;
	justify-content: center;
	align-items: center;
}

.videoLink {
	padding: 10px;
	list-style-type: disc;
	border: 1px solid;
}
