.parent {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.playerContainer {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}

.videoInfo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -3.5em;
	color: white;
	z-index: 2;
}

.controls {
	display: flex;
	justify-content: space-between;
	z-index: 1;
	color: white;
	width: 200px;
}

.controlButton {
	border: none;
	background: none;
}

.controlButton:hover {
	cursor: pointer;
}


.duration {
	display: flex;
	justify-content: center;
	align-items: center;
}

.videoLink {
	padding: 10px;
	list-style-type: disc;
	border: 1px solid;
}

.videoRange {
	z-index: 1;
}

.playbackMenu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: slategray;
	padding: 10px;
	bottom: 50px;
	right: 10px;
	width: 160px;
}

.border {
	border: 2px solid white;
	height: 24px;
}

.playbackMenuButton {
	margin-right: 10px;
}